VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_ADMIN_API=http://127.0.0.1:8001
VITE_COMM_API_BASE_URL=http://127.0.0.1:8002
VITE_AUTH_API_BASE_URL=http://127.0.0.1:8003
VITE_DASHBOARD_API_BASE_URL=http://127.0.0.1:8004
VITE_COMM_WS_BASE_URL=ws://127.0.0.1:8002