SECRET_KEY = "fc42e6a3e2c0cd478aaea480e41fdcc1d4bb802c7d41fccbff59465f6945f190"
ALGORITHM = "HS256"

DATABASE_URL=postgresql://YOUR_ADMIN_NAME:YOUR_PASSWORD@localhost:5432/postgres

USER_ACCOUNTS_PUBLIC_BASE_URL=http://127.0.0.1:8003

SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=choose-a-strong-password